<form action="/contact/add" method="post" >
    <p>
        <label>Name</label><input value="" name="name"/>    
        <label>D.O.B</label><input value="" name="dateOfBirth"/>    
        <label>Phone Number</label><input value="" name="phoneNumber"/>    
        <label>Email</label><input value="" name="emailID"/>
        <button type="submit">ADD</button>    
    </p>
</form>