<link rel="stylesheet" href="../css/add.css">
<form action="/add" method="post" >
    <div class="container">
        <label>Name</label><input value="" name="name"/><br>   
        <label>D.O.B</label><input value="" name="dateOfBirth"/><br>    
        <label>Phone Number</label><input value="" name="phoneNumber"/><br>    
        <label>Email</label><input value="" name="emailID"/><br>
        <button class="btn" type="submit">ADD</button>    
    </div>
</form>