body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: Lato, sans-serif;
    background: #eceffc;
  }
  
  * {
    box-sizing: border-box;
  }
  .container {
    display: flex;
    width: 400px;
    flex-direction: column;
    padding: 16px;
    background-color: white;
  }
  input {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input:focus {
    background-color: #ddd;
    outline: none;
  }
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .btn:hover {
    opacity: 1;
  }
#phno,#email{
  width: 87.5%;
}
div.assign-objects *{
  display:inline;
}

.add{
  margin-top: 20px;
  width : 40px;
  height: 40px;
  background-color: grey;
  border-radius: 100px;
  margin-top: 5px;
}

